MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority&appName=Cluster0
PORT=<port>
VITE_APP_LOCAL_NAME=<app-name>
NODE_ENV=<development>/<production>
ADMIN_SESSION_SECRET=<long-random-secret>