:root {
  color: #f5f7fb;
  background-color: #090b13;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
}
